Source: libmdmp
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libmdmp
Vcs-Git: https://github.com/libyal/libmdmp.git

Package: libmdmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmdmp1
Replaces: libmdmp1
Suggests: libmdmp-dbg
Description: Library to access the Windows Minidump (MDMP) format
 libmdmp is a library to access the Windows Minidump (MDMP) format.

Package: libmdmp-dbg
Architecture: any
Section: debug
Depends: libmdmp (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmdmp
 Debugging symbols for libmdmp.

Package: libmdmp-dev
Section: libdevel
Architecture: any
Depends: libmdmp (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libmdmp
 Header files and libraries for developing applications for libmdmp.

Package: libmdmp-tools
Section: utils
Architecture: any
Depends: libmdmp (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmdmp-utils
Replaces: libmdmp-utils
Description: Several tools for reading Windows Minidump (MDMP) files
 Several tools for reading Windows Minidump (MDMP) files.

Package: libmdmp-tools-dbg
Section: debug
Architecture: any
Depends: libmdmp-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmdmp-tools
 Debugging symbols for libmdmp-tools.

